body
{
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
	background: #262626;
}

.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

ul li
{
	list-style: none;
	color: #fff;
	font-size: 6em;
	font-weight: bold;
	letter-spacing: 10px;
	/*filter: blur(1px);*/
}

ul:hover li
{
	animation: animate 2s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg) translateY(0px);
		opacity: 1;
		filter: blur(1px);
	}
	100%
	{
		transform: rotate(45deg) translateY(-200px);	
		opacity: 0;
		filter: blur(10px);
	}
}	

ul li:nth-child(1)
{
	animation-delay: 0s;
	color: #FF0000;
}

ul li:nth-child(2)
{
	animation-delay: .4s;
	color: #FF7F00;
}
ul li:nth-child(3)
{
	animation-delay: .8s;
	color: #FFFF00;
}
ul li:nth-child(4)
{
	animation-delay: 1.2s;
	color: #00FF00;
}
ul li:nth-child(5)
{
	animation-delay: 1.6s;
	color: #0000FF;
}
ul li:nth-child(6)
{
	animation-delay: 2s;
	color: #8510d8;
}
ul li:nth-child(7)
{
	animation-delay: 2.4s;
	color: #550a8a;
}